{% extends 'base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post-preview">
            <a href="{% url 'post_detail' pk=post.pk %}">
                <h2 class="post-title">
                    {{ post.title }}
                </h2>
                <h3 class="post-subtitle">
                    {{ post.text }}
                </h3>
            </a>
            <div>
                {% for tags_str in post.tags.all %}
                    <a class="btn btn-default" href="{% url 'tag_list' pk=tags_str.id %}">{{ tags_str }}</a>
                {% endfor %}
            </div>
            <p class="post-meta">
                <a href="{% url 'category_list' pk=post.category.id %}">{{ post.category }}:</a>
                Posted by <a href="#">{{ post.author }}</a> on {{ post.published_date }}
                <span style="margin-left: 20px" class="glyphicon glyphicon-thumbs-up"></span> {{ post.likes }}
                <span style="margin-left: 20px" class="glyphicon glyphicon-eye-open"></span> {{ post.views }}
                <span style="margin-left: 20px" class="glyphicon glyphicon-bullhorn"></span> {{ post.comments }}
            </p>
        </div>
    {% endfor %}

    {% include "blog/paginator.html" %}
{% endblock content %}
