{% extends 'base.html' %}

{% block content %}

	{% if form.errors or auth_error %}
		<p style="color: red">Please enter the correct username and password</p>
	{% endif %}

	<form action="{% url 'blog.views.login' %}" method="POST" class="login-form">
		{% csrf_token %}

		<div class="row control-group">
			<div class="form-group col-xs-12 floating-label-form-group controls">
				<label>Username</label>
				{{ form.username.error }}
				{{ form.username }}
			</div>
		</div>
		<div class="row control-group">
			<div class="form-group col-xs-12 floating-label-form-group controls">
				<label>Password</label>
				{{ form.password.error }}
				{{ form.password }}
			</div>
		</div>
		<br>
		<div class="row">
			<div class="form-group col-xs-12">
				<button type="submit" class="btn btn-primary" style="width: 100%">Sign in</button>
			</div>
		</div>
	</form>

{% endblock content %}
