{% extends 'base.html' %}

{% block content %}
    {% if message_success %}
        <h1 style="text-align: auto">Your password was successfully changed!</h1 style="text-align: auto">
    {% else %}
        <h2>Change password now:</h2>
        <form method="POST" class="pass-change-form">
            {% csrf_token %}

            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Old password</label>
                    {{ form.old_password.errors }}
                    {{ form.old_password }}
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Password</label>
                    {{ form.new_password1.errors }}
                    {{ form.new_password1 }}
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Password again</label>
                    {{ form.new_password2.errors }}
                    {{ form.new_password2 }}
                </div>
            </div><br>
            <div class="row">
                <div class="form-group col-xs-6">
                    <button type="submit" class="btn btn-primary" style="width: 100%">Save</button>
                </div>
                <div class="form-group col-xs-6">
                    <button type="reset" class="btn btn-default" style="width: 100%">Reset</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock content %}
