{% extends 'base.html' %}
{% load selectize_tags %}


{% block content %}
	<p>Add new post or edit old:</p>
	<form method="POST" class="post-form">
        {% selectize_tags_media 'css' %}
		    {% csrf_token %}
		    {{ form.as_p }}
        {% selectize_tags_media 'js' 'jquery' %}
		<div class="row">
			<div class="form-group col-xs-12">
				<button type="submit" class="btn btn-default">Save</button>
			</div>
		</div>
	</form>
    <script>
        $('#select-tags').selectize({
            delimiter: ',',
            persist: false,
            create: function (input) {
                return {
                    value: input,
                    text: input
                }
            }
        });
    </script>
{% endblock content %}
